extends ../app_layout

block content
  .col.s10.offset-s1.m8.offset-m2.l6.offset-l3
    h2 Sign in
    
    .row
      form.form-horizontal.col.s12(id='signup-form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .row
          .input-field.col.s12
            input(type='email', name="email", id='email', autofocus)
            label(for='email') Email
          .input-field.col.s12
            input(type='password', name="password", id='password')
            label(for='password') Password
          .col.s12.center-align
            button.btn-large.waves-effect.waves-light(type='submit')
              | Login
    .row
      .col.s12.center-align
        a(href='/forgot') Forgot your password?
