extends ../app_layout

block content
  .col.s10.offset-s1.m8.offset-m2.l6.offset-l3
    h2 Sign up
    
    .row
      form.form-horizontal.col.s12(id='signup-form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .row
          .input-field.col.s12
            input(type='text', name="org_name", id='org_name', autofocus=true)
            label(for='org_name') Organization Name
          .input-field.col.s12
            input(type='email', name="email", id='email')
            label(for='email') Email
          .input-field.col.s12
            input(type='password', name="password", id='password')
            label(for='password') Password
          .input-field.col.s12
            input(type='password', name="confirmPassword", id='confirmPassword')
            label(for='confirmPassword') Confirm Password
          .input-field.col.s12
            select(name="num_employees")
              option(value="", disabled, selected) Choose your option
              option(value="1-50") 1-50
              option(value="51-200") 51-200
              option(value="201-1000") 201-1000
              option(value="1000+") 1000+
            label Number of Employees
          .col.s12.center-align
            button.btn-large.waves-effect.waves-light(type='submit')
              | Signup
    
    .row
      .col.s12.center-align
        p Are you an Employee? Your employer will send you an invitation link to join ShoutOut.
