@import "vendors/materialize/materialize_custom";
//@import "vendors/materialize/materialize";
@import "vendors/font-awesome/font-awesome";

.button-collapse {
  padding-left: 5px;
}



html {
  background-color: $custom-off-white;
  color: $custom-grey-blue-2;

  @media only screen and (min-width: 993px) {
    .container {
      width: 80%;
    }
  }

  .brand-logo {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    span {
      font-weight: 300;
    }

    i {
      font-size: 24px;
      position: relative;
      top: -2px;
    }
  }

  h1, h2 {
    color: $custom-grey-blue-3;
  }

  nav {
    background-color: $custom-dark-blue-1;

    i.right {
      margin-left: 2px;
    }
  }

  .brand-logo {
    padding: 0 15px;
  }

  .side-nav {
    background-color: $custom-off-white;

    hr {
      margin: 0 20px;
    }

    .logo {
      text-align: center;
      margin-top: 32px;
      margin-bottom: 80px;

      &:hover {
        background-color: transparent;
      }
    }

    li, a {
      line-height: 44px;
      height: 44px;
    }

    li.bold > a {
      font-weight: bold;
    }
  }


}
