extends ../../app_layout

block content
  .col.s12
    h2 Organization Dashboard
    .col-sm-12
      a.btn.btn-primary(href="/current-survey") Current Survey
      a.btn.btn-primary(href="/results") Results
    .col-sm-12
      a.btn.btn-primary(href="/employee/dashboard") Employee Dashboard
