extends ../../app_layout

block content
  .col.s10.offset-s1.m8.offset-m2.l6.offset-l3
    h3 Edit Survey
    .row
      .card.col.s10
        h4 1. This is question 1 
        a(href="/org/edit-question")
          img(src="https://image.freepik.com/free-icon/edit-badge_318-32366.png" width="30px" align="right")
        .row
      .card.col.s10
        h4 2. This is question 2
        a(href="#")
          img(src="https://image.freepik.com/free-icon/edit-badge_318-32366.png" width="30px" align="right")
        .row

      .card.col.s10
        h4 3. This is question 3
        a(href="#")
          img(src="https://image.freepik.com/free-icon/edit-badge_318-32366.png" width="30px" align="right")
        .row
      .card.col.s10
        h4 4. This is question 4
        a(href="#")
          img(src="https://image.freepik.com/free-icon/edit-badge_318-32366.png" width="30px" align="right")
        .row

      .card.col.s10
        h4 Add New Question
          input.validate(type='text', name="new_question", id='new_question', autofocus=false)
        a(href="#") 
            img(src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678092-sign-add-128.png" width="35px" align="right")
        .row






