extends ../../app_layout

block content
 .col.s10.offset-s1.m8.offset-m2.l6.offset-l3
    h3 Edit Question
    .row
      .card.col.s10
        .row
          form.form-horizontal.col.s10(id='/question/:id', method='post')
            input(type='hidden', name='_csrf', value=_csrf)
            .row
              .input-field.col.s10
                input.validate(type='text', name="question", id='question', value = question)
            .row
              a(href="/organization/survey/56b97a0ed46c42082c4228c9")
                i.fa.fa-times.fa-4x.wow.fadeIn.text-primary(style="color:red")
              button.btn-large.waves-effect.waves-light(type='submit' align="right") Submit
