nav
  .nav-wrapper
    a.brand-logo(href="/index") 
      | Shout
      span Out 
      i.fa.fa-bullhorn
    a.button-collapse(href='#', data-activates='slide-out')
      i.mdi-navigation-menu
    ul.right.hide-on-med-and-down
      li
        a.dropdown-button(href='#!', data-activates='dropdown1')
          | #{user.organization.name}
          i.mdi-navigation-arrow-drop-down.right
        ul#dropdown1.dropdown-content
          li
            a(href='/organization/dashboard') Dashboard
          li
            a(href='/account') Profile
          li
            a(href='/logout') Logout
ul#slide-out.side-nav
  li.logo: a(href="/"): i.fa.fa-bullhorn.fa-5x
  hr
  li.bold
    a(href='/organization/dashboard') Dashboard
  li.bold
    a(href='/organization/questions') Questions
  li.bold
    a(href='/logout') Logout
